.primaryBtn {
  padding: 13px 16px !important;
  background-image: linear-gradient(90deg, #0d3efb 0%, #031d8e 100%);
  opacity: 1;
  text-align: center;
  vertical-align: middle !important;
  cursor: pointer !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "Sofia Pro Regular" !important;
  text-transform: capitalize !important;
}
.primaryBtn > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primaryBtn > div > div {
  padding-right: 8px;
}
